html, body, ul {
  padding:0px;
  margin: 0px;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  font:18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#333;
  background-color: #efefef;
  font-weight:300;
}

/*渲染优化*/
canvas, img {
 	image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}


img {
  max-width:100%;
}

.wrapper {
  width:100vw;
  min-height: 100vh;
  min-width:320px;
  max-width:720px;
  padding: 0px 0px 50px 0px;
  margin:0;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #fafafa;
}

.radiusCornerBg {
  width:98vw;
  height: 96vh;
  margin: 1vh 1vw 3vh 1vw;
  background-color: #ffffff;
  border: 0px;
  -moz-border-radius: 6px;      /* Gecko browsers */
  -webkit-border-radius: 6px;   /* Webkit browsers */
  border-radius:6px;
}

#content {
  margin: 20px 15px 40px 15px;
  overflow: scroll;
  -webkit-clip-path: polygon(0px 0vh, 100% 0vh, 100% 97vh, 0px 97vh);/*Safari, Chrome支持*/
  margin-top: 4vh;
}

strong {
  color:#222;
  font-weight:700;
}

Canvas {
  width:97%;
  height: 360px;
  margin-bottom: 4%;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  position: absolute;
  bottom: 5px;
  right:20px;
  color: #cccccc;
  text-align: right;
}


